body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #17181d;
}
.time {
  display: flex;
  background-color: #292c35;
  color: #fff;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  font-size: 80px;
}
.hours,
.minutes,
.seconds {
  color: #e09145;
  padding: 0.1rem;
}
.points {
  color: #fcd9b8;
  opacity: 0;
}

.show {
  opacity: 1;
}
