body {
 margin: 0;
 padding: 0;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 height: 100vh;
}

#gameboard {
 height: 300px;
 width: 300px;
 background-color: black;
 display: flex;
 flex-wrap: wrap;
}

.square {
 width: 100px;
 height: 100px;
 background-color: white;
 border: 2px solid black;
 box-sizing: border-box;
 display: flex;
 justify-content: center;
 align-items: center;
}

.circle {
 width: 90px;
 height: 90px;
 border-radius: 50%;
 border: 16px solid blue;
 box-sizing: border-box;
}

.cross {
 height: 60px;
 width: 60px;
 position: relative;
}

.cross:before,
.cross:after {
 content: '';
 position: absolute;
 background-color: red;
 transform: rotate(45deg);
}

.cross:before {
 left: 50%;
 width: 30%;
 height: 100%;
 margin-left: -15%;
}

.cross:after {
 top: 50%;
 height: 30%;
 width: 100%;
 margin-top: -15%;

}

