body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(43, 43, 43);
}

.clock {
  position: absolute;
  height: 300px;
  width: 300px;
  border-radius: 150px;
  border: 5px solid rgb(252, 200, 55);
}
#seconds-hand {
  position: absolute;
  height: 130px;
  width: 2px;
  background-color: rgb(70, 255, 255);
  left: 49.3%;
  bottom: 49.3%;
  opacity: 50%;
  transform-origin: 0 100%;
}
#minutes-hand {
  position: absolute;
  height: 100px;
  width: 2px;
  background-color: rgb(253, 120, 227);
  left: 49.3%;
  bottom: 49.3%;
  transform-origin: 0 100%;
}
#hours-hand {
  position: absolute;
  height: 80px;
  width: 4px;
  background-color: rgb(205, 112, 255);
  left: 49.3%;
  bottom: 49.3%;
  transform-origin: 0 100%; //This will make all transitions start from the center.
}
#center {
  position: absolute;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: rgb(252, 200, 60);
  left: 48.3%;
  bottom: 48.3%;
}
