* {
 box-sizing: border-box;
}

body {
 display: grid;
 place-items: center;
 gap: 50px;
 margin: 0;
 height: 100vh;
 padding: 0 32px;
 background: #eff9ff;
 font-family: "Euclid Circular A", "Poppins";
}

@media (width >=500px) {
 body {
  padding: 0;
 }
}

.background {
 position: fixed;
 top: -50vmin;
 left: -50vmin;
 width: 100vmin;
 height: 100vmin;
 border-radius: 47% 53% 61% 39% / 45% 51% 49% 55%;
 background: #65C8FF;
}

.background::after {
 content: '';
 position: inherit;
 right: -50vmin;
 bottom: -55vmin;
 width: inherit;
 height: inherit;
 border-radius: inherit;
 background: #143D81;
}